html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

a {
	text-decoration: none !important;
}

a:hover
{
	color: #ddd;
}

nav {
    font-family: "Helvetica", sans-serif;
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(3, 6, 58, 0.39);
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    background: none;
    flex-wrap: wrap;
}

nav ul li a {
    color: #ddd;
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
    line-height: 1;
    padding: 1.2rem 1rem;
}

/*styling logo*/

nav div:first-child h1 {
    padding: 0;
    margin: 0 1rem;
}

nav ul {
    margin: 0;
}

nav div:first-child img {
    height: 80px;
}

nav ul li {
    border-bottom: none;
    flex: 1 0 auto;
    position: relative;
}

nav ul li a::before, nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background: rgb(244, 224, 34);
    transition: .2s width ease-in-out;
}

nav ul li a::before {
    left: 0;
}

nav ul li a:hover::after, nav ul li a:hover::before {
    width: 50%;
}

body{
	min-height: 100vh;
	background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.booking-form {
	max-width: 642px;
	width: 100%;
	margin: auto;
	margin-top:20px;
	margin-bottom:20px;
}

.booking-form>form {
	background-color: rgba(3, 6, 58, 0.39);
	padding: 30px 20px;
	border-radius: 15px;
}

.booking-form .form-group {
	margin-bottom: 15px;
}

.booking-form .form-control {
	background-color: #f5f5f5;
	border: none;
	height: 45px;
	border-radius: 15px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #101113;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.booking-form .form-label {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 5px;
	display: block;
	text-transform: uppercase;
}

.booking-form .submit-btn {
	color: #101113;
	background-color: rgb(244, 224, 34);
	font-weight: 700;
	height: 50px;
	border: none;
	width: 100%;
	display: block;
	border-radius: 3px;
	text-transform: uppercase;
}

#gender
{
    color: white;
    margin-bottom: 10px;
}